/* Body */
body {
    display: flex;
    font-family: "Roboto", sans-serif;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(50,50,50);
        color: white;
    }
}

.wrapper {
    position: absolute;
}